*{
  margin: 0;
  padding: 0;
}
a{

  text-decoration: none;
}

.container{

  width: 100%;
  height: auto;
  padding-top: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 5%;
}

.container .card{
  position: relative;
  width: 20%;
  margin-bottom: 4%;
  margin-left: 4%;
}
.container .card .image_container{
  position: relative;
  width: 100%;
  height: 30vh;
}
.container .card .article{
  
  width: 100%;
  height: auto;
}
.container .card .article h1{
text-align: left;
padding-top: 10px;
font-size: 1.2vw;
  color: rgb(99, 99, 99);
}

/* skeleton style */

.container .card1{
  position: relative;
  width: 20%;
  height: 255px;
  padding-bottom: 1%;
  overflow: hidden;
  margin-left: 4%;
  margin-bottom: 4%;
  border: 1px solid rgb(214, 214, 214);
}
.container .card1 .image_container1{
  position: relative;
  width: 100%;

  height: auto;
  background-color: #dadada;

}
h6{font-size: 60px;
background-color: red;}
/* media query */
@media only screen and (max-width: 480px) {
  .container{

    width: 100%;
    height: auto;
    padding-top: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 5%;
  }
  
  .container .card{
    position: relative;
    width: 90%;
    margin-bottom: 5%;
    margin-left: 5%;
  }
  .container .card .image_container{
    position: relative;
    width: 100%;
    height: 35vh;
  }
  .container .card .article{
    
    width: 100%;
    height: auto;
  }
  .container .card .article h1{
  text-align: center;
  padding-top: 4%;
  font-size: 3.5vw;
    color: rgb(99, 99, 99);
  }
  
  /* skeleton style */
  .container .card1{
   
    width: 90%;
    height: auto;
    padding-bottom: 1%;
    overflow: hidden;
    margin-left: 5%;
    margin-bottom: 4%;
 
  }
  .container .card1 .image_container1{
    position: relative;
    width: 100%;
  
    height: auto;
    background-color: #dadada;
  
  }
}


